.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 0;
    margin: 0;
}

.horizontal-list-item {
    display: inline-block;
}

.select-button {
    max-width: 10em;
    min-height: 2em;
    border-radius: 1em;
    border: solid 1px black;
    margin: 1px;
}

.selected-query-source {
    background-color: #ffec8b;
    box-shadow: white 0 0 0px 1px;
}

.draggable {
    cursor: grab;
}

.dragging {
    opacity: 0.5;
}

.drag-over {
    border: 2px dashed #000;
}
