
.highlighting.invalid {
    background-color: lightgoldenrodyellow;
}
.input-container {
    position: relative;
    width: auto;
    height: auto;
}
.input {
    color: transparent;
    background-color: transparent;
    caret-color: gray;
}
.highlighting {
    background: white;
    color: rgb(54, 54, 54)
}
.input, .highlighting {
    --input-line-height-ratio: 1.5;

    margin: 0;
    padding: 1px;
    border: 0;
    width: calc(100% - 32px);
    height: calc(1em * var(--input-line-height-ratio) + 1px);
}
.input, .highlighting * {
    font-size: 9pt;
    font-family: 'fira code', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
    line-height: var(--input-line-height-ratio);
    tab-size: 2;
}
.input {
    position: relative;
    overflow: auto;
}
.highlighting {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.input, .highlighting {
    white-space: pre;
    text-wrap: wrap;
    word-break: break-all;
    hyphens: none;
}
.input {
    z-index: 1;
}
.highlighting {
    z-index: 0;
}

.token {
    border-radius: 1em;
    background: hsl(var(--token-hue), 29%, 90%);
}
.token[class~=space] {
    border-radius: 0;
    background: radial-gradient(circle farthest-side, lightgray, lightgray 1px, transparent 1px, transparent);
    background-size: 4px 100%;
}
.token[class~=undefined-type], .token[class~=keyword] {
    background: none;
}
.token[class~=comment] {
    --token-hue: 120;
}
.token[class~=string] {
    --token-hue: 0;
}
.token[class~=number] {
    --token-hue: 182;
}
.token[class~=operator] {
    --token-hue: 43;
}
.token.invalid {
    text-decoration: underline wavy red;
}
