.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.horizontal-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.horizontal-list-item {
    display: inline-block;
    margin-right: 10px;
}

.select-button {
    max-width: 5em;
}
