.import-text-input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-text br {
    display: none;
}

input.editable-text {
    border: none;
    background: none;
    font-size: 16px;
    color: black;
}

.spot-label {
    color: #FFFFBB;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 0 5px #000;
    pointer-events: none;
}

.properties-editor {
    display: flex;
    flex-direction: column;
    resize: both;
    overflow: auto;
    max-width: 100%;
    max-height: 100vh;
}
.route-list-container {
    flex-grow: 1;
    overflow: auto;
}

.properties-editor textarea,
.properties-editor input {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;

    font-family: Arial, Helvetica, sans-serif;
}
.properties-editor input.title {
    width: auto;
}

.properties-editor textarea.query-input-field {
    font-family: Menlo, Monaco, 'Courier New', Courier, monospace;
    height: 1.5em;
}

.route-list .selecting {
    background: #FECA40;
}

.route-list .selected {
    background: #F39814;
    color: white;
}

.route-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.route-list li {
    margin: 3px;
    padding: 0.4em;
    height: 18px;
    cursor: pointer;
    user-select: none;
}
.route-list .note {
    font-size: 75%;
    padding-left: 0.5em;
    color: #ffffffab;
}

.auto-complete-list {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.auto-complete-list .auto-complete-list-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.auto-complete-list .auto-complete-list-item:hover {
    background-color: #ddd;
}


/* アコーディオン */
/* マーカー */
.accordion>summary::-webkit-details-marker {
    display: none;
}

.accordion>summary::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;

    transform: rotate(225deg);
    top: calc(50% - 3px);
    right: 1em;
}

/* 閉じているとき */
.accordion>summary {
    cursor: grab;
    display: block;
    height: auto;
    padding: 3px;
    width: auto;
    height: auto;

    background: #019bc656;
    border: solid 1px #00000000
}

.accordion>* {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
}

.accordion> :not(summary) {
    margin-bottom: 6px;
    padding: 0 3px;
    border: solid 1px #00000000;
}

/* 開いたとき */
.accordion[open]>summary {
    background: #c6880156;
}

.accordion[open]>summary::before {
    transform: rotate(135deg);
}

.accordion[open]> :not(summary) {
    padding: 3px;
    transition: all 0.3s;

    border: solid 1px #c6880156;
}
