.import-text-input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}
.ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis-text br {
    display: none;
}

input.editable-text {
    border: none;
    background: none;
    font-size: 16px;
    color: black;
}

.spot-label {
    color: #FFFFBB;
    font-size: 11px;
    line-height: 12px;
    text-align: center;
    padding: 2px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-shadow: 1px 1px #000, 1px -1px #000, -1px 1px #000, -1px -1px #000, 0 0 5px #000;
}

.properties-editor {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.properties-editor textarea,
.properties-editor input {
    box-sizing: border-box;
    width: 100%;
    resize: vertical;
}
.properties-editor input.title {
    /* 2em: アコーディオンハンドルの margin */
    /* 10px: アコーディオンハンドルの幅 */
    width: calc(100% - 2em - 10px);
}

.properties-editor textarea.invalid {
    border: solid 1px red;
    background-color: lightgoldenrodyellow;
}

.without-report-container {
    flex-grow: 1;
    height: 0;
    overflow: auto;
}
.without-report-container {
    display: flex;
    flex-direction: column;
}
.report-container {
    background: #00c2ff70;
    color: #ffffff;
}

.route-list .selecting {
    background: #FECA40;
}

.route-list .selected {
    background: #F39814;
    color: white;
}

.route-list {
    flex-grow: 1;
    overflow: hidden;

    list-style-type: none;
    margin: 0;
    padding: 0;
}

.route-list .route-list-item {
    margin: var(--route-list-item-margin);
    padding: var(--route-list-item-padding);
    cursor: pointer;
    user-select: none;
}
.route-list .note {
    font-size: 75%;
    padding-left: 0.5em;
    color: #ffffffab;
}

.auto-complete-list {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.auto-complete-list .auto-complete-list-item {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.auto-complete-list .auto-complete-list-item:hover {
    background-color: #ddd;
}
