.import-text-input {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;

    display: flex;
    justify-content: center;
    align-items: center;
}
.import-text-input.hidden {
    display: none;
}
input.editable-text {
    border: none;
    background: none;
    font-size: 16px;
    color: black;
}
